/* {{{ global */
.invisible {
    display: none;
}
.hidden {
    visibility: hidden;
}
html {
    overflow-y: scroll;
}
body {
    font-size: 75%;
    text-align: center;
    height: 100%;
}
body,
ul a .hidden {
    font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
}
a img {
    border: none;
    color: #000000;
}
#content h1,
ul.big {
    font-family: Georgia, Times, Times New Roman, Serif;
}
/* }}} */
/* {{{ filetypes */
a[href$='.pdf']::after {
    content: " [pdf]";
}
a[href$='.zip']::after {
    content: " [zip]";
}
/* }}} */
/* {{{ colors */
#content .colorcyan a,
#content .colorcyan h1 {
    color: #00ADEF;
}
#content .colormagenta a,
#content .colormagenta h1 {
    color: #EC008C;
}
/* }}} */
/* {{{ content */
.section .spacing {
    margin-top: 1em;
}
#content h1 {
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    color: #555555;
}
#content h1 .light {
    display: block;
    color: #aeaeae;
}
#content h2 {
    font-weight: bold;
    font-size: 1.05em;
    margin-top: 2.4em;
    margin-bottom: 0.8em;
    line-height: 1.6em;
    color: #555555;
}
#content p,
.section ul,
.section ol,
#content address {
    font-size: 0.97em;
    font-size: 1.05em;
    line-height: 1.6em;
    line-height: 1.8em;
}
#content .crop {
    margin: 1em 0em 1em 0em;
    width: 51em;
    overflow: hidden;
}
#content .float_left {
    float: left;
    margin: 1em 1em 1em 0em;
}
#content address {
    line-height: 1.5em;
    font-style: normal;
    margin-bottom: 1em;
}
.section a {
    color: #E1721B;
    text-decoration: none;
}
.section a:hover {
    color: #ca0000;
    text-decoration: underline;
}
.section a img {
    border: none;
}
.section ul {
    padding-left: 1.5em;
    list-style: disc;
}
.section time {
    font-weight: bold;
    color: #555555;
}
.section .thumb {
    display: block;
    width: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
    float: left;
    background-color: #eeeeee;
}
.section .zoom {
    position: relative;
    width: 48em;
    /*width: 98em;*/
    /*overflow: hidden;*/
    cursor: crosshair;
    cursor: pointer;
}
.section .zoom .front,
.section .zoom .back {
    display: block;
    overflow: hidden;
    border: 1px solid #dfdfdf;
}
.section .zoom .front {
    width: 48em;
}
.section .zoom .back {
    position: absolute;
    width: 17em;
    left: 50em;
    top: 0;
}
.section .zoom .front img {
    display: block;
    width: 48em;
}
.section .zoom .back img {
    display: block;
    width: 17em;
}
#content .section .info {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #888888;
}
.intro {
    background: url(../grfx/all/corner_tr3.png) no-repeat top right #eeeeee !important;
    background: url(../grfx/all/corner_tr3.gif) no-repeat top right #eeeeee;
    margin-top: 1.5em;
    margin-left: -3em;
    padding: 0.6em 2em 3em 3em;
    margin-left: -6em !important;
    border-left: 3em solid #111111 !important;
    margin-left: -3em;
    border-left: none;
}
.intro h2 {
    margin-top: 0;
}
.article {
    margin-top: 3em;
    padding-top: 3em;
    border-top: 1px solid #dfdfdf;
}
#content .article h1 {
    padding-top: 0.1em;
}
.article h2 {
    clear: left;
}
/* }}} */
/* {{{ navigation */
.topnav li a {
    color: #999999;
}
.topnav:hover li a {
    color: #555555;
}
.topnav li a:hover {
    color: #000000;
    text-decoration: underline;
}
#navigation ul {
    line-height: 1.35em;
    padding-bottom: 1em;
    list-style: none;
}
#navigation ul a {
    font-size: 0.95em;
}
#navigation ul a:hover {
    text-decoration: underline;
    color: #ff9900;
}
#navigation ul ul {
    margin-left: 1em;
}
#navigation ul li a.active {
    font-weight: bold;
}
.navigation_bright a {
    color: #999999;
}
.navigation_bright:hover a {
    color: #555555;
}
/* }}} */
/* {{{ lists big/nav */
ul.big {
    font-size: 3.8em;
    font-weight: normal;
    line-height: 1.2em;
    list-style: none;
}
ul.big a {
    display: inline;
}
ul a {
    color: #000000;
    text-decoration: none;
}
ul a:hover {
    color: #555555;
}
ul a .hidden {
    font-size: 0.23em;
    line-height: 7.3em;
    padding-left: 2em;
    visibility: hidden;
    display: inline;
    position: absolute;
}
ul a:hover .hidden {
    visibility: visible;
}
li.highlighted {
    margin-top: 0.75em;
}
li.highlighted a {
    color: #ff9900;
}
li.highlighted a:hover .hidden {
    color: #ff9900;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
