/* {{{ global */
.invisible {
    display: none;
}
.hidden {
    visibility: hidden;
}
html {
    font-size: 16px;
    overflow-y: scroll;
}
body {
    font-size: 75%;
    text-align: center;
    height: 100%;
}
body,
ul a .hidden,
#content .depagecms h1 {
    font-family: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
}
textarea,
code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Lucida Console", "Courier New", Courier;
}
img { 
    -ms-interpolation-mode: bicubic;
}
a img {
    border: none;
    color: #000000;
}
#content h1,
ul.big {
    font-family: Georgia, Times, Times New Roman, Serif;
}
.clear {
    display: block;
    clear: both;
}
/* }}} */
/* {{{ filetypes */
a[href$='.pdf']::after {
    content: " [pdf]";
}
a[href$='.zip']::after {
    content: " [zip]";
}
/* }}} */
/* {{{ back */
#content .back {
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 3em;
    left: 0;
}
#content .back div {
    position: absolute;
}
#content .back img {
    display: block;
    width: 100%;
}
#content .back a {
    position: relative;
    display: block;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50em;
    text-decoration: none;
}
/* }}} */
/* {{{ content */
.section {
}
.section .spacing {
    margin-top: 1em;
}
#content h1 {
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    padding-right: 2em;
}
#content h1 .light {
    display: block;
}
#content .depagecms h1,
#content h2 {
    font-weight: bold;
    font-size: 1.05em;
    margin-top: 3.2em;
    /*margin-bottom: 0.8em;*/
    line-height: 1.6em;
}
#content .depagecms h1 {
    margin-top: 0em;
    display: inline;
    padding-left: 1.6em;
}
#content dt {
    font-weight: bold;
    font-size: 1.05em;
    line-height: 1.6em;
}
#content p,
.section ul,
.section ol,
#content address {
    font-size: 1.05em;
    line-height: 1.8em;
}
#content ul p {
    font-size: 1em;
}
#content .crop {
    margin: 1em 0em 1em 0em;
    width: 51em;
    overflow: hidden;
}
#content .float_left {
    float: left;
    margin: 1em 1em 1em 0em;
}
#content address {
    line-height: 1.5em;
    font-style: normal;
    margin-bottom: 1em;
}
.section a {
    text-decoration: none;
}
.section a:hover {
    text-decoration: underline;
}
.section a img {
    border: none;
}
.section ul {
    padding-left: 1.5em;
    list-style: disc;
}
.section ul li {
    position: relative;
}
.section ul li span {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0em;
    left: -1.7em;
}
.section ul li span::before {
    content: "–";
    padding-left: 0.2em;
    padding-right: 0.7em;
}
.section time {
    font-weight: bold;
}
.section .thumb {
    position: relative;
    display: block;
    float: left;
}
.section .thumb img {
    display: block;
    width: 8em;
    margin-right: 2em;
    margin-bottom: 2em;
}
.section .thumb .marker {
    position: absolute;
    display: block;
    left: -6em;
    width: 1em;
    top: 0;
}
#content .depagecms .thumb .marker {
    display: none;
}
.section .full,
.section .compare,
.section .slideshow,
.section .zoom {
    clear: both;
    position: relative;
    display: block;
    width: 51em;
    margin: 1.7em 0;
}
.section .compare .full,
.section .slideshow .full {
    margin: 0;
}
.section .full img,
.section .compare img,
.section .slideshow img,
.section .zoom .front img {
    display: block;
    width: 51em;
}
    /* {{{ zoom */
    .section .zoom .front,
    .section .zoom .thumb {
        display: block;
        overflow: hidden;
    }
    .section .zoom .front {
        width: 51em;
    }
    .section .zoom .back {
        display: none;
    }
    .section .zoom .thumb {
        display: none;
        position: absolute;
        width: 16em;
        left: 54em;
        top: 0;
    }
    .section .zoom .thumb img {
        display: block;
        width: 16em;
        margin: 0;
    }
    .section .zoom .thumb .border {
        position: absolute;
        opacity: .6;
    }
    #content .section .caption,
    #content .section .info {
        display: block;
        margin-top: 0.5em;
        font-size: 0.85em;
    }
    #content .section .info {
    }
    /* }}} */
    /* {{{ compare */
    .section .compare {
        overflow: hidden;
    }
    .section .compare div {
        position: absolute;
        top: 0;
    }
    .section .compare div.first {
        position: relative;
    }
    /* }}} */
    /* {{{ slideshow */
    .section .slideshow div {
        position: absolute;
        display: none;
    }
    .section .slideshow div.first {
        position: relative;
        display: block;
    }
    /* }}} */
    /* {{{ source */
    .source {
        font-size: 1.2em;
    }
    .source pre {
        overflow: auto;
        overflow-y: hidden;
        margin: 1.2em 0;
    }
    .source pre code { 
        display: block; 
        margin-left: 6em;
    }
    .source pre code ol { 
        font-size: 1em;
        line-height: 1.3em;
        list-style: decimal outside;
    }
    .source pre code li { 
        font-size: 1em;
        padding-left: 1em;
    }
    .source .codeswitch {
        position: absolute;
        display: block;
        right: -22em;
        width: 20em;
        font-size: 0.7em;
    }
    .source div {
        display: none;
        border-left: 1.2em solid;
        margin: 1em 0;
    }
    .source textarea {
        width: 100%;
        font-size: 0.8em;
        border: none;
    }
    /* }}} */
    /* {{{ timeline */
    #content .timeline.interactive {
        position: relative;
    }
    #content .timeline.interactive dl {
        margin-top: 24em;
        margin-bottom: 1.7em;
    }
    #content .timeline.interactive dt {
        padding-left: 2.2em;
        cursor: pointer;
        font-weight: normal;
        z-index: 10;
    }
    #content .timeline.interactive dt:hover,
    #content .timeline.interactive dt.active {
        color: #000000;
        font-weight: bold;
    }
    #content .timeline.interactive dd {
        position: absolute;
        margin-top: -22em;
        top: 0em;
        left: 0;
        height: 20em;
        width: 100%;
        background: #eeeeee;
        overflow: hidden;
    }
    #content .timeline.interactive .slider {
        position: absolute;
        z-index: 8;
        width: 1.7em;
        height: 100%;
        background-color: #eeeeee;
        top: 0;
        left: 0;
    }
    #content .timeline.interactive .slider div {
        position: absolute;
        z-index: 9;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #aaaaaa;
    }
    #content .timeline.interactive .slider,
    #content .timeline.interactive .slider div {
        -moz-border-radius: 0.3em 0 0 0.3em;
        -webkit-border-radius: 0.3em 0 0 0.3em;
    }
    /* }}} */
    /* {{{ cloud */
    .section ul.cloud {
        list-style: none;
        padding: 0 2em;
    }
    ul.cloud li {
        display: inline-block;
        font-size: 0.95em;
        color: #555555;
        padding-right: 0.5em;
    }
    ul.cloud i,
    ul.cloud b {
        font-style: normal;
        font-weight: normal;
        font-size: 1.4em;
    }
    ul.cloud small {
        font-size: 0.8em;
    }
    /* }}} */
.intro {
    margin-top: 1.5em;
    padding: 0.6em 2em 3em 3em;
    margin-left: -6em !important;
    margin-left: -3em;
}
.intro h2 {
    margin-top: 0;
    margin-bottom: 0.8em;
}
.article {
    position: relative;
    margin-top: 3em;
    padding-top: 3em;
}
#content .article h1 {
    padding-top: 0.1em;
}
.article h2 {
    clear: left;
}
/* }}} */
/* {{{ navigation */
.topnav li a:hover {
    text-decoration: underline;
}
#navigation ul,
.autolinklist ul {
    line-height: 1.35em;
    padding-bottom: 1em;
    list-style: none;
}
#navigation ul a,
#content .autolinklist ul a {
    font-size: 0.95em;
}
#content .autolinklist ul a {
    font-size: 0.9em;
}
#navigation ul a:hover,
.autolinklist ul a:hover {
    text-decoration: underline;
}
#navigation ul ul {
    margin-left: 1em;
}
#navigation ul li a.active {
    font-weight: bold;
}
.autolinklist {
    padding-top: 4em;
}
.depagecms .article .autolinklist {
    padding-top: 3.2em;
}
.autolinklist h3 {
    font-size: 0.9em;
}
.autolinklist li::after {
    content: " »";
}
.article .autolinklist {
    position: absolute;
    width: 19em;
    left: 54em;
    top: 0;
    padding-top: 3em;
    padding-top: 12em;
}
/* }}} */
/* {{{ lists big/nav */
ul.big {
    font-size: 3.8em;
    font-weight: normal;
    line-height: 1.2em;
    list-style: none;
    z-index: 101;
    position: relative;
}
ul.big a {
    display: inline;
}
ul a {
    text-decoration: none;
}
ul a .hidden {
    font-size: 0.23em;
    line-height: 7.3em;
    padding-left: 2em;
    visibility: hidden;
    display: inline;
    position: absolute;
}
ul a:hover .hidden {
    visibility: visible;
}
li.highlighted {
    margin-top: 0.75em;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
