/* {{{ content */
#contentcontainer {
    position: relative;
    margin: 0 auto;
    width: 60em;
    height: auto !important;
    text-align: left;
    background: #ffffff;
}
.section, .section_start {
    margin-right: 17em;
}
/* }}} */
/* {{{ footer */
#footer {
    margin-top: 3em;
}
#footer p {
    font-size: 0.8em;
    color: #555555;
}
/* }}} */
/* {{{ navigation */
#navigation {
    position: absolute;
    float: right;
    top: 4em;
    right: 0;
    width: 14em;
    padding-left: 2em;
    border-left: 1px solid #dfdfdf;
    height: 30em;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
