/* {{{ global */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background: url(../grfx/all/back_pattern.png) repeat top center #000000 !important;
    background: url(../grfx/all/back_pattern.gif) repeat top center #000000;
}
.invisible {
    display: none;
}
.hidden {
    visibility: hidden;
}
/* }}} */
/* {{{ background colors */
#backcolor_blue {
    background: url(../grfx/all/back_pattern.gif) repeat top center #0D76C6;
    position: absolute;
    left: 0em;
    top: 96px;
    width: 100%;
    height: 140px;
}
#backcolor_brightblue {
    background: url(../grfx/all/back_pattern.gif) repeat top center #4B8EAA;
    position: absolute;
    left: 0em;
    top: 126px;
    width: 100%;
    height: 170px;
}
#backcolor_green {
    background: url(../grfx/all/back_pattern.gif) repeat top center #01AA09;
    position: absolute;
    left: 0em;
    top: 156px;
    width: 100%;
    height: 200px;
}
#backcolor_red {
    background: url(../grfx/all/back_pattern.gif) repeat top center #ca0000;
    position: absolute;
    left: 0em;
    top: 186px;
    width: 100%;
    height: 230px;
}
#backcolor_orange {
    background: url(../grfx/all/back_pattern.gif) repeat top center #ff9900;
    position: absolute;
    left: 0em;
    top: 96px;
    width: 100%;
    height: 350px;
}
#backcolor_grey1 {
    background: url(../grfx/all/back_pattern.gif) repeat top center #aaaaaa;
    position: absolute;
    left: 0em;
    top: 198px;
    width: 100%;
    height: 200px;
}
#backcolor_grey2 {
    background: url(../grfx/all/back_pattern.gif) repeat top center #aaaaaa;
    position: absolute;
    left: 0em;
    top: 294px;
    width: 100%;
    height: 150px;
}
#backcolor_grey3 {
    background: url(../grfx/all/back_pattern.gif) repeat top center #aaaaaa;
    position: absolute;
    left: 0em;
    top: 96px;
    width: 100%;
    height: 250px;
}
/* }}} */
/* {{{ round header */
#header {
    height: 3em;
    background: #000000;
}
#header #corner_tl {
    position: absolute;
    top: 3em;
    left: 0;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../grfx/all/corner_tl2.png) no-repeat top left !important;
    background: url(../grfx/all/corner_tl2.gif) no-repeat top left;
}
#header #corner_tr {
    position: absolute;
    top: 3em;
    right: 0;
    width: 32px;
    height: 32px;
    float: right;
    background: url(../grfx/all/corner_tr2.png) no-repeat top right !important;
    background: url(../grfx/all/corner_tr2.gif) no-repeat top right;
}
/* }}} */
/* {{{ content */
#contentcontainer {
    position: relative;
    width: 76em;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-align: left;
    background: #ffffff;
    border-left: 3em solid #000000;
    border-right: 3em solid #000000;
}
#content {
    padding: 2em 2em 12em 3em;
    background: #ffffff;
}
.section,
.section_start,
.article {
    margin-right: 21em;
}
.article .section {
    margin-right: 0;
}
.section_start {
    margin-bottom: 10em;
}
/* }}} */
/* {{{ lists big/nav */
ul.big li a {
    display: block;
}
ul.big li a:hover {
    /*
    background: url(../grfx/all/back_pattern.png) repeat top center #eeeeee !important;
    background: url(../grfx/all/back_pattern.gif) repeat top center #eeeeee;
    */
}
/* }}} */
/* {{{ footer */
#footercontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footercontainer #teaser {
    position: absolute;
    bottom: 5em;
}
#content #teaser {
    position: relative;
    margin-left: -0.5em;
    padding-bottom: 4em;
    width: 57em;
}
#teaser .teaser {
    float: left;
    height: 4em;
    width: 14.5em;
    margin-right: 2.5em;
    margin-bottom: 1em;
    padding: 0.5em;
    overflow: hidden;
}
#teaser .teaser p {
    font-size: 0.95em;
    line-height: 1.5em;
}
#teaser .teaser a {
    color: #000000;
    text-decoration: none;
}
#teaser .teaser a:hover {
    color: #555555;
    text-decoration: underline;
}
#teaser .teaser:hover {
    cursor: pointer;
    background: url(../grfx/all/back_pattern.png) repeat top center #eeeeee !important;
    background: url(../grfx/all/back_pattern.gif) repeat top center #eeeeee;
}
#teaser .teaser .date {
    font-weight: bold;
    font-size: 0.85em;
}
#teaser .teaser img {
    float: left;
    display: block;
    width: 4em;
    background: #dddddd;
    margin-right: 1em;
}
#teaser .teaser em {
    font-style: normal;
    color: #555555;
}
#footer {
    height: 3em;
    background: #000000;
    /** /
    border-top: 0.3em solid #ff9900;
    /**/
}
#footer p {
    float: right;
    font-size: 0.8em;
    color: #555555;
    padding-top: 1em;
    padding-right: 1em;
}
#footer a {
    color: #555555;
}
/* }}} */
/* {{{ navigation */
.topnav {
    display: block;
    padding-top: 1em;
    height: 1em;
}
.topnav li {
    float: left;
    list-style: none;
    display: block;
    padding-right: 1.5em;
}
#navigation {
    position: absolute;
    float: right;
    top: 6.5em;
    right: 0;
    width: 19em;
    border-left: 1px solid #dfdfdf;
    padding-bottom: 8em;
}
#navigation ul {
    padding: 0 2em 0.3em 2em;
    margin-bottom: 1.2em;
    border-left: 1px solid #ffffff;
    border-left: 0.3em solid #ffffff;
}
#navigation ul ul {
    padding: 0;
}
#navigation ul:hover {
    border-left: 1px solid #555555;
    border-left: 0.3em solid #ff9900;
}
#navigation ul:hover ul {
    border-left: 1px solid #ffffff;
    border-left: 0.3em solid #ffffff;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
